name: CI/CD con pruebas de pytest

on: 
 push:
  branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout del repositorio
      uses: actions/checkout@v3

    - name: Configurarcion de Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Instalar las depencias de python
      run: pip install -r requirements.txt

    - name: Ejecucicion de pruebas
      run: pytest

    - name: Generar mi HTML del despliegue 
      run: |
        echo "<h1>Despliegue exitoso solucion </h1>" > index.html

    - name: Subir a GitHub Pages
      uses: actions/upload-pages-artifact@v3
      with: 
        path: .

  deploy:
    needs: build 
    runs-on: ubuntu-latest
    permissions: 
     pages: write
     id-token: write

    steps:
    - name: Deploy a GitHub Pages
      uses: actions/deploy-pages@v4


